<a href="https://colab.research.google.com/github/Meilianum/streamlit_py/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Assignment List Tuples and methods**
# **`*Basic List Operations*`**
# New Section

In [ ]:
List_of_Number = [1,2,3]
List_of_Number.extend([4,5,6])
print(List_of_Number)

[1, 2, 3, 4, 5, 6]

# ***Question 3***
insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
"Ruby"].

In [ ]:
languages =  ["Java", "C++", "JavaScript", "Ruby"]
languages.insert(2, "python")
print(languages)

['Java', 'C++', 'python', 'JavaScript', 'Ruby']

# ***Question-4***
4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40]

In [ ]:
Number =[10,20,30,10.40]
Number.remove(10)
print(Number)

[20, 30, 10.4]

# ***Question 5***

In [ ]:
numbers = [100, 200, 300, 400]
numbers.pop()
print(numbers)

[100, 200, 300]

# ***Intermediate List Operations***

# ***Question 6***

In [ ]:
num_of_list= [5, 10, 5, 20, 5, 30]
count_of_5 =num_of_list.count(5)
print(count_of_5)

3

In [ ]:
number = [9, 1, 8, 3, 5]
number.sort()

print(number)

[1, 3, 5, 8, 9]

In [ ]:
number = [9, 1, 8, 3, 5]
numbers.sort(reverse=True)
print(number)

[9, 1, 8, 3, 5]

## ***Qustion 8***

In [ ]:
furits_nume = ['apple', 'banana', 'cherry']
furits_nume.reverse()
print(furits_nume)

['cherry', 'banana', 'apple']

# ***Question 9***

In [ ]:
original_list = [1, 2, 3, 4, 5]

# Create a copy using copy() method
copied_list = original_list.copy()

# Alternatively, you can use slicing to create a copy
# copied_list = original_list[:]

# Modify the copied list
copied_list.append(6)

# Print both lists
print("Original List:", original_list)
print("Copied List:", copied_list)

Original List: [1, 2, 3, 4, 5]
Copied List: [1, 2, 3, 4, 5, 6]

# Question 10

In [ ]:
Element_list = ['hello', 'world', 'python']
Element_list.clear()
print(Element_list)

[]

# ***Tuple-Based Questions***
# ***part of 2 of Tuples***

In [ ]:
furits_nume = ('apple', 'Mango', 'Graphes', 'Orange', 'PinApple')

# Count the number of elements in the tuple (using len())
count_of_fruits = len(furits_nume)
print(furits_nume[2])  # Print the third fruit

# Optionally, print the count of fruits
print("Total number of fruits:", count_of_fruits)

Graphes
Total number of fruits: 5

# **Question 12**

In [55]:

my_tuples = (10, 20, 30, 40, 50)


my_list = list(my_tuples)

my_list.remove(30)


my_tuples = tuple(my_list)


print(my_tuples)

(10, 20, 40, 50)

# ***Question 13***

In [58]:
my_tuples = ('A','B', 'c')
my_list = list(my_tuples)
my_list.append('D')
my_tuples = tuple(my_list)
print(my_tuples)

('A', 'B', 'c', 'D')

# ***Question 14***

In [59]:
my_list_number =(100, 200, 300)
a,b,c = my_list_number
print(a)
print(b)
print (c)

100
200
300

# ***Question 15***

In [60]:
 my_Num = (7, 1, 7, 3, 7, 5)
 count_7 = my_Num.count(7)
 print(count_7)

3

# ***Question 17***
# ***Advanced Problems***

In [72]:
def sort_descending(arr):

    n = len(arr)


    for i in range(n):

        max_index = i
        for j in range(i + 1, n):
            if arr[j] > arr[max_index]:
                max_index = j


        arr[i], arr[max_index] = arr[max_index], arr[i]

    return arr


example_list = [12, 45, 2, 67, 34]
sorted_list = sort_descending(example_list)
print(sorted_list)

[67, 45, 34, 12, 2]

# **Question 16**

In [75]:
def remove_even_numbers(input_list):
    return [num for num in input_list if num % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
result = remove_even_numbers(numbers)
print(result)

[1, 3, 5, 7]

# *Question 18*

In [76]:
def remove_duplicates(input_list):

    unique_elements = list(set(input_list))
    return unique_elements


numbers = [1, 2, 3, 4, 5, 2, 3, 6, 1]
result = remove_duplicates(numbers)


print(result)

[1, 2, 3, 4, 5, 6]

# ***Question 19***

In [78]:
def remove_duplicates_from_tuple(input_tuple):

    temp_list = list(input_tuple)

    unique_set = set(temp_list)

    return tuple(unique_set)


names = ("Alice", "Bob", "Charlie", "Alice", "David")

result = remove_duplicates_from_tuple(names)


print(result)

('Bob', 'David', 'Alice', 'Charlie')

# ***Question 20***

In [79]:
def separate_data_types(mixed_list):

    integers = []
    strings = []
    floats = []


    for item in mixed_list:
        if isinstance(item, int):
            integers.append(item)
        elif isinstance(item, str):
            strings.append(item)
        elif isinstance(item, float):
            floats.append(item)

    return integers, strings, floats

mixed_list = [1, "hello", 3.14, 42, "world", 2.71, "python"]


integers, strings, floats = separate_data_types(mixed_list)


print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [1, 42]
Strings: ['hello', 'world', 'python']
Floats: [3.14, 2.71]

# I have successfully done my third assignment